<div>
  <mat-slide-toggle [(ngModel)]="isNextDay"></mat-slide-toggle>
  &nbsp;
  <button (click)="decrement()" mat-icon-button>
    <mat-icon>navigate_before</mat-icon>
  </button>
  &nbsp;
  <div style="display: inline-table">
    <time-field
      [(timeValue)]="startTime"
      [formControl]="startTimeField"
      (change)="startTimeChanged()"
    ></time-field>
    &nbsp;
    <time-field
      [(timeValue)]="endTime"
      [formControl]="endTimeField"
      (change)="endTimeChanged()"
    ></time-field>
    <mat-error *ngIf="timeRange.isStartGreaterThanEnd()">{{
      "Le début ne doit pas dépasser la fin."
    }}</mat-error>
  </div>

  &nbsp;
  <button (click)="increment()" mat-icon-button>
    <mat-icon>navigate_next</mat-icon>
  </button>
  <!-- 
  <div class="size-sm">

  </div> -->
</div>
