<div>
  <!-- <mat-slide-toggle [(ngModel)]="isNextDay"></mat-slide-toggle> -->
  <mat-slide-toggle [(ngModel)]="isNextDay"></mat-slide-toggle>
  &nbsp;
  <button (click)="decrement()" mat-icon-button>
    <mat-icon>navigate_before</mat-icon>
  </button>
  &nbsp;
  <mat-form-field>
    <input
      matInput
      chrTimeOnly
      type="text"
      class="form-control"
      [formControl]="startTimeField"
      [(ngModel)]="startTimeText"
      (change)="startTimeChanged()"
    />
    <mat-error *ngIf="startTimeField.invalid">{{
      getErrorStartTimeMessage()
    }}</mat-error>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input
      matInput
      type="text"
      name="endTime"
      class="form-control"
      [(ngModel)]="endTimeText"
      [ngModelOptions]="{ updateOn: 'blur' }"
      (change)="endTimeChanged()"
    />
  </mat-form-field>
  &nbsp;
  <button (click)="increment()" mat-icon-button>
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
