<div>
  <mat-slide-toggle [checked]="isNextDay" (change)="isNextDay = $event?.checked"></mat-slide-toggle>
  &nbsp;
  <button (click)="decrement()" mat-icon-button>
    <mat-icon>navigate_before</mat-icon>
  </button>
  &nbsp;
  <div style="display: inline-table">
    <time-field [(timeValue)]="startTime"></time-field>
    &nbsp;
    <time-field [(timeValue)]="endTime"></time-field>

    <mat-error *ngIf="isStartNotSmallerThanEnd()">{{ "Le début ne doit pas dépasser la fin." }}</mat-error>
  </div>

  &nbsp;
  <button (click)="increment()" mat-icon-button>
    <mat-icon>navigate_next</mat-icon>
  </button>
  <!-- 
  <div class="size-sm">

  </div> -->
</div>
