<p>
  <mat-toolbar color="primary">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>My Application</span>
    &nbsp;

    <nav style="font-size: small;">
      <a routerLink="/time-range-simple" routerLinkActive="active">TimeRange</a>&nbsp;|&nbsp;
      <a routerLink="/directives-test" routerLinkActive="active">Directives Test</a>&nbsp;|&nbsp;
      <a routerLink="/material-test" routerLinkActive="active">Material Test</a>&nbsp;|&nbsp;
      <a routerLink="/simple-table" routerLinkActive="active">Simple Table</a>&nbsp;|&nbsp;
      <a routerLink="/dynamic-input-list" routerLinkActive="active">Dynamic InputList</a>&nbsp;|&nbsp;
      <a routerLink="/td-from" routerLinkActive="active">TemplDriven Form</a>&nbsp;|&nbsp;
    </nav>

  </mat-toolbar>
</p>

<div class="content" role="main">

  <div>
    <small>router-outlet start</small>
    <router-outlet></router-outlet>
    <small>router-outlet end</small>
  </div>        
  <br /><br />



</div>
