<h1>Material Test</h1>

<mat-divider></mat-divider>
<h2>TextBox inside mat-form-field</h2>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint matSuffix>next Day</mat-hint>
  </mat-form-field>
</p>

<mat-divider></mat-divider>
<br />
<h2>TextBox Errors Errors Errors</h2>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Name of your dog</mat-label>
    <input matInput placeholder="Placeholder" required [formControl]="dogNameField" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint matSuffix>Hint from toto</mat-hint>
    <mat-error *ngIf="dogNameField.invalid">you must have a dog</mat-error>
  </mat-form-field>
</p>
<br />

<mat-divider></mat-divider>
<h2>Time Field</h2>
<p>
  <time-field [(timeValue)]="timeTestObj" [fieldLabel]="timeLabel"></time-field>
</p>

<mat-divider></mat-divider>
<section>
  <h2>A slider</h2>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
</section>

<mat-divider></mat-divider>
<section>
  <h2>Some Buttons</h2>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-stroked-button color="warn">Warn</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<mat-divider></mat-divider>
<section>
  <h2>Flat Buttons</h2>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button>Basic</button>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<mat-divider></mat-divider>
<!-- Highlight Card -->

<h2>Mat Card</h2>
<p>
  <mat-card>
    <span>{{ title }} app is running!</span>
  </mat-card>
</p>
