<h2>time-range-playground</h2>

<h3>Simple Time Range</h3>
<div>
  <time-range-simple [(timeRange)]="currentTimeRange"></time-range-simple>
  <br />
  <button mat-flat-button color="warn" (click)="setRange('2020-10-20', '0:30', '10:00')">early</button>&nbsp;
  <button mat-flat-button color="warn" (click)="setRange('2020-10-20', '10:30', '14:00')">normal</button>&nbsp;
  <button mat-flat-button color="warn" (click)="setRange('2020-10-20', '22:30', '35:30')">late</button>&nbsp;
  <br />

  parsed date is {{ currentTimeRange.referenceDate.toLocalDateString() }}<br />
  parsed startTime is
  {{ currentTimeRange.startTime.toHoursMinutesIn24Range() }}, isNextDay: {{ currentTimeRange.startTime.isNextDay }},
  isValid: {{ currentTimeRange.startTime.isValid }} <br />
  parsed ..endTime is {{ currentTimeRange.endTime.toHoursMinutesIn24Range() }}, isNextDay:
  {{ currentTimeRange.endTime.isNextDay }}, isValid: {{ currentTimeRange.endTime.isValid }} <br />
  TimeRange validity: <b>{{ currentTimeRange.isValid }}</b>
</div>

<br />
<hr />
<br />
