<h3>time-range-playground</h3>

<div>
  <app-time-range-simple
    [(timeRange)]="defaultTimeRange"
  ></app-time-range-simple>
  <!-- <mat-form-field class="example-form-field">
    <mat-label>Time Range Form binding</mat-label>
    <app-time-range-simple timeRange="defaultTimeRange"></app-time-range-simple>
  </mat-form-field> -->

  : parsed time is {{ defaultTimeRange | json }}
</div>

<br /><br />
<b>Data</b><br />
<!-- <div>startTime: {{ startTimeText }} endTme: {{ endTimeText }}</div>
<div>isNextDay: {{ isNextDay }}</div> -->
<hr />
<br />
<div>
  input with time-formatter
  <mat-form-field class="example-form-field">
    <mat-label>Clearable time input</mat-label>
    <input matInput chrTimeFormatter type="text" [(ngModel)]="timeTest1" />
    <button
      mat-button
      *ngIf="timeTest1"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="timeTest1 = '00:00'"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  : parsed time is {{ timeTest1 }}
</div>
<hr />
<br />
<div>simple html time input: <input type="time" /></div>
<hr />
<br />
<div>material html time input:<input type="time" matInput /></div>
<hr />
<br />
